@font-face {
    font-family: 'MyriadPro-Regular';
    src: url("../fonts/8143.otf");
}

body {
    font-family: 'MyriadPro-Regular', Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1024px;
    margin: 0 auto;
}