@font-face {
    font-family: 'MyriadPro-Regular';
    src: url("../fonts/8143.otf");
}

body {
    font-family: 'MyriadPro-Regular', Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    outline: 1px dotted blue;
    max-width: 1024px;
    margin: 0 auto;
}

/* header  */

.main_header {
    margin: 0;
    padding: 0;
}

.main_header_logo_img {
    outline: 1px solid green;
    width: 44px;
    height: 44px;
    margin-right: 15px;
}

.main_header_logo_link {
    outline: 1px solid blue;
    text-decoration: none;
    font-size: 42.3px;
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 25px;
}

.main_navigation {
    outline: 1px solid blue;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main_navigation_list {
    outline: 1px solid red;
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.main_navigation_item {
    outline: 1px solid green;
    margin: 0 35px 0 0;
    padding: 0;
}

.main_navigation_item_link {
    outline: 1px solid purple;
    margin: 0;
    text-decoration: none;
    color: #6c6c6c;
    font-size: 20.3px;
    padding: 0;
    padding: 37px 0 33px 0;
    display: block;
    border-bottom: 3px solid transparent;
}

.main_navigation_item_link:hover {
    border-bottom: 3px solid #5094f2;
}

.current {
    border-bottom: 3px solid #5094f2;
}

/* banner */

.banner {
    outline: 1px solid red;
    background-color: #4a4a47;
    background-image: url("../img/banner.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
}

.banner_wrapper {
    outline: 1px solid yellow;
    color: #ffffff;
}

.banner_item {
    outline: 1px solid red;
    display: inline-block;
    margin-left: 50px;
    margin-top: 38px;
    margin-bottom: 16px;
}

.banner_slogan {
    outline: 1px solid purple;
    display: inline-block;
    vertical-align: top;
    margin-left: 104px;
    margin-top: 153px;
}

.banner_slogan_article {
    font-weight: normal;
    margin: 0;
    line-height: 44.42px;
    font-size: 42px;
    outline: 1px solid lightpink;
}

.banner_slogan_text {
    font-size: 26px;
    line-height: 44.42px;
    font-weight: normal;
    outline: 1px solid lightseagreen;
    margin: 0;
    padding: 0;
}

.banner_link_button {
    color: #ffffff;
    font-size: 22px;
    line-height: 44.42px;
    font-weight: normal;
    text-decoration: none;
    outline: 1px solid pink;
    margin: 0;
    margin-top: 50px;
    margin-left: 12px;
    padding: 0;
    padding: 0 11px 0 44px;
    display: inline-block;
    background-color: #5094f2;
    background-image: url("../img/shape-2.png");
    background-repeat: no-repeat;
    background-position: center left;
    background-position-x: 11px;
    max-width: 172px;
    border-radius: 5px;
}

/* features */

.features_list {
    outline: 1px solid blue;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 57px;
    padding: 0 15px 0 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.features_item {
    outline: 1px solid green;
    margin: 0;
    padding: 0;
    display: inline-block;
    max-width: 248px;
    vertical-align: top;
    text-align: center;
    padding-top: 214px;
}

.features_item:nth-child(1) {
    background-image: url("../img/pen_blue.png");
    background-repeat: no-repeat;
    background-position: top center;
}

.features_item:nth-child(2) {
    background-image: url("../img/pc_red.png");
    background-repeat: no-repeat;
    background-position: top center;
}

.features_item:nth-child(3) {
    background-image: url("../img/cart_yellow.png");
    background-repeat: no-repeat;
    background-position: top center;
}

.features_item_article {
    outline: 1px solid limegreen;
    margin: 0;
    padding: 0;
    color: #5094f2;
    font-size: 20px;
    font-weight: 400;
    line-height: 44.42px;
}

.features_item_text {
    outline: 1px solid pink;
    margin: 0;
    padding: 0;
    color: #909090;
    font-size: 14px;
    font-weight: 400;
}

/* shopping_cart */

.shopping_cart {
    outline: 1px solid blue;
    margin-top: 94px;
}

.shopping_cart_article {
    outline: 1px solid limegreen;
    margin: 0;
    padding: 0;
    color: #6f7173;
    font-size: 42px;
    font-weight: 400;
    line-height: 44.42px;
    margin-left: 46px;
}

.shopping_cart_wrapper {
    outline: 1px solid red;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 35px;
}

.shopping_cart_item_img {
    outline: 1px solid blue;
    margin: 0;
    padding: 0;
}

.product_info {
    outline: 1px solid green;
    margin: 0;
    padding: 0;
}

.product_info_article {
    outline: 1px solid blueviolet;
    margin: 0;
    padding: 0;
    color: #6f7173;
    font-size: 26px;
    font-weight: 400;
    line-height: 44.42px;
}

.product_info_text {
    outline: 1px solid lightseagreen;
    margin: 0;
    padding: 0;
    max-width: 450px;
    margin-top: 36px;
    color: #909090;
    font-size: 15px;
    font-weight: 400;
    line-height: 36px;
}

/* footer */

.main_footer {
    min-height: 93px;
    width: 100%;
    border-top: 1px solid #e5e5e5;
    text-align: center;
}

.footer_copyright {
    outline: 1px solid blue;
    color: #909090;
    font-size: 15px;
    font-weight: 400;
    line-height: 36px;
    text-decoration: none;
    display: inline-block;
    vertical-align: top;
    margin-top: 23px;
}