@font-face {
    font-family: 'MyriadPro-Regular';
    src: url("fonts/8143.otf");
}

body {
    font-family: 'MyriadPro-Regular';
    margin: 0;
}

.container {
    width: 1250px;
    margin: 0 auto;
}

.main_header {
    min-width: 89px;
    width: 100%;
    margin: 0;
    padding: 0;
}

.main_header_logo {
    text-decoration: none;
    font-size: 42.3px;
    color: #000000;
    background-image: url("img/shape1.png");
    background-repeat: no-repeat;
    background-position: center left;
    background-size: 44px 44px;
    margin: 0 0 0 141px;
    padding: 0 0 0 60px;
}

.main_navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main_navigation_list {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0 142px 0 0;
}

.main_navigation_item {
    margin: 0 35px 0 0;
    padding: 0;
}

.main_navigation_item_link {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #6c6c6c;
    font-size: 20.3px;
    padding: 37px 0 33px 0;
    display: block;
    border-bottom: 3px solid transparent;
}

.current {
    border-bottom: 3px solid #5094f2;
}

/* .container{outline: 1px solid green;} */

.banner {
    outline: 1px solid lime;
    background-color: #4a4a47;
}

.banner_item {
    outline: 1px solid red;
    display: inline-block;
    color: #ffffff;
    margin-left: 177px;
    margin-top: 38px;
    margin-bottom: 16px;
}

.banner_slogan {
    outline: 1px solid purple;
    display: inline-block;
    margin-left: 104px;
    margin-top: 153px;
    /* margin-bottom: 134px; */
}

.banner_slogan_article {
    font-weight: normal;
    margin: 0;
    font-weight: 400;
    line-height: 44.42px;
    font-size: 42px;
    outline: 1px solid lightpink;
}

.banner_slogan_text {
    font-size: 26px;
    line-height: 44.42px;
    outline: 1px solid lightseagreen;
    margin: 0;
    padding: 0;
}

.banner_link_button {
    font-size: 22px;
    line-height: 44.42px;
    text-decoration: none;
    outline: 1px solid pink;
    margin: 0;
    padding: 0;
    margin-left: 12px;
    padding: 12px 11px 9px 44px;

}
.banner_link_button_wrapper{
    margin-top: 36px;
}

.banner_wrapper {
    outline: 1px solid yellow;
}