@font-face {
    font-family: 'MyriadPro-Regular';
    src: url("fonts/8143.otf");
}

body {
    font-family: 'MyriadPro-Regular';
    margin: 0;
}

.container {
    width: 1250px;
    margin: 0 auto;
}

.main_header {
    min-width: 89px;
    width: 100%;
    margin: 0;
    padding: 0;
}

.main_header_logo {
    text-decoration: none;
    font-size: 42.3px;
    color: #000000;
    background-image: url("img/shape1.png");
    background-repeat: no-repeat;
    background-position: center left;
    background-size: 44px 44px;
    margin: 0 0 0 141px;
    padding: 0 0 0 60px;
}

.main_navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main_navigation_list {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0 142px 0 0;
}

.main_navigation_item {
    margin: 0 35px 0 0;
    padding: 0;
}

.main_navigation_item_link {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #6c6c6c;
    font-size: 20.3px;
    padding: 37px 0 33px 0;
    display: block;
    border-bottom: 3px solid transparent;
}

.current {
    border-bottom: 3px solid #5094f2;
}

.banner {
    background-color: #627488;
    background-image: url("img/banner.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
    height: 579px;
    width: 100%;
}
.banner_wrapper{
    outline: 1px solid green;
    display: flex;
    /* align-items: flex-start; */
    align-items: center;
    /* justify-content: space-between; */
}
.banner_item {
    /* width: 345px; */
    /* height: 436px; */
    margin: 38px 0 16px 177px;
    display: inline;
    outline: 1px solid yellow;
}

.banner_slogan {
    outline: 1px solid red;
    margin: 0 104px 232px 211px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    /* justify-content: space-between; */
}

.banner_slogan_article {
    margin: 0;
    padding: 0;
    outline: 1px solid green;
    font-size: 42px;
    font-weight: normal;
    /* line-height: 1.05; */
}

.banner_slogan_text {
    margin: 0;
    padding: 0;
    outline: 1px solid blue;
    font-size: 26px;
    line-height: 44.42px;
}

.banner_link_button {
    text-decoration: none;
    color: #ffffff;
    background-color: #5094f2;
    /* background-size: 172px 41px; */
    outline: 1px solid pink;
    width: 172px;
    height: 41px;
}